@import"_variables.scss";
@import"_imagenes.scss";
@import"_textos.scss";
.boton{
    border: map-get($boton:  border ) ;
    padding: map-get( $boton  padding );

}
.botton2{
    @extend .boton;
    background-color: $colorTexto;


}